* {
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: transparent;
  font-size: xx-large;
}

div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: justify;
  width: 50%;
  height: 50%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

label {
  display: flex;
  margin: 30px;

}